*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  display: block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* ========Header styles======== */
.header-border {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-studio {
  color: #2e2f42;
}
.menu-nav {
  display: flex;
  padding-left: 0;
  margin-right: 332px;
  gap: 40px;
}
.menu-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.line-studio {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav-link:hover {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav-link:active {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio {
  position: relative;
}
.studio .menu-nav-link {
  color: #404bbf;
}
.studio .line-studio::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #404bbf;
  bottom: -1px;
  left: 0;
}
.address {
  font-style: normal;
}
.contacts {
  display: flex;
  gap: 40px;
}
.contacts-link {
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========Hero image styles======== */
.hero-image {
  background: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.page-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  padding-bottom: 48px;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background: #404bbf;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* ========Section 1 styles======== */
.section-one {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-features {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.page-features .features-bloc {
  flex-basis: calc((100%-72px) / 4);
  max-width: 264px;
}

.icons-features {
  display: flex;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ========Section 2 styles======== */
.team {
  background: #f4f4fd;
  padding: 120px 0;
}
.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.team-title-item {
  background-color: #ffffff;
  flex-basis: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-padding {
  padding: 32px 0;
}
.team-title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-title-name-skil {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  text-align: center;
}
.soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  fill: #f4f4fd;
}
.soc-item {
  width: 40px;
  height: 40px;
}
.soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-link:hover {
  background-color: #404bbf;
}
.soc-link:focus {
  background-color: #404bbf;
}
.icons-soc {
  fill: #f4f4fd;
}
/* =========Section 3 styles======== */
.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-three {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay:hover .overlay-item {
  transform: translateY(0);
}
.portfolio-bloc {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title-project {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-title-project-property {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ========Footer styles======== */
.page-footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-bloc {
  display: flex;
}
.logo-footer-bloc {
  display: inline-block;
  flex-direction: column;
  margin-right: 120px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.logo-footer-studio {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.soc-footer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list-footer {
  display: flex;
  gap: 16px;
  fill: #f4f4fd;
}
.soc-footer:hover {
  background-color: #31d0aa;
}
.soc-footer-bloc {
  display: inline-block;
}
