body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
}
/* ========Header styles======== */
.header-border {
  border-bottom: 1px solid #e7e9fc;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.header-nav {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-studio {
  color: #2e2f42;
}
.menu-nav {
  display: flex;
  padding-left: 0;

  margin-right: 332px;
  gap: 40px;
}
.menu-nav .menu-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  /* padding: 24px 0; */
}
.menu-nav .menu-nav-link:hover {
  color: #404bbf;
}
.menu-nav .menu-nav-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contacts {
  display: flex;

  gap: 40px;
}
.contacts .contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts .contacts-link:hover {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.contacts .contacts-link:focus {
  color: #404bbf;
}
/* ========Hero image styles======== */
.hero-image {
  background: #2e2f42;
  padding: 188px 0;
}
.page-hero {
  flex-direction: column;
  align-items: center;
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;

  padding-bottom: 48px;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  /* margin-bottom: 188px; */
}
.button:hover {
  background: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
/* ========Section 1 styles======== */
.section-one {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-features {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.page-features .features-bloc {
  flex-basis: calc((100%-72px) / 4);
  max-width: 264px;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ========Section 2 styles======== */
.team {
  background: #f4f4fd;
  padding: 120px 0;
}
.section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: row;

  gap: 24px;
}
.team-title-item {
  background-color: #ffffff;
  flex-basis: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-padding {
  padding: 32px 0;
}
.team-title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-title-name-skil {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  text-align: center;
}
/* =========Section 3 styles======== */
.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-three {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-bloc {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title-project {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-title-project-property {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ========Footer styles======== */
.page-footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer-bloc {
  flex-direction: column;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.logo-footer-studio {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  width: 264px;
}
